<a href="https://colab.research.google.com/github/thammalideepika/avani/blob/main/24bcahh010014.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
import pandas as pd

In [10]:
pd.read_excel('/content/drive/MyDrive/EVEN.xlsx')

,Booking_ID,Customer_ID,Destination,Travel_Dates,Booking_Date,Number_of_Travelers,Travel_Package,Payment_Method,Total_Cost,Travel_Agent,Customer_Feedback
0,BKG01438,CUST5663,BANGALORE,2024-05-27 - 2025-06-02,2023-07-26,3.0,Premium,Debit Card,41695.84,Bass Inc,Power matter brother guy. Out adult perhaps ge...
1,BKG02701,CUST4963,Vietnam,2024/05/02 / 2025/06/28,2024-02-05,3.0,Standard,Credit Card,36619.85,Wood Group,Position call within size than couple. Effect ...
2,BKG03648,cust5625,Tokyo,2023-12-02 - 2025-03-09,2024-07-17,2.0,NaN,NaN,44543.87,Bridges-Collins,NaN
3,BKG02513,CUST4246,Delhi,2023-11-10 - 2024-09-13,2024-03-15,6.0,Luxury,Credit Card,41053.94,"Edwards, Hill and Lee",NaN
4,bkg02903,CUST3901,Chennai,2023-11-09 - 2024-08-22,2023-04-09,3.0,Luxury,PayPal,36238.26,Hardy Inc,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5245,BKG03093,CUST4090,BRANDYVILLE,2024-01-23 - 2025-04-15,2024-08-17,3.0,NaN,Bank Transfer,45823.85,"King, Porter and Patrick",Understand man remain tough.
5246,BKG03773,CUST0249,SAINT LUCIA,2023-12-11 - 2025-01-11,2023-04-07,1.0,NaN,NaN,28937.40,Lane-Hopkins,Scientist bank wife. Measure prevent fear imag...
5247,bkg04354,CUST3227,Delhi,2024-06-13 - 2025-04-10,2024-04-15,6.0,Luxury,Bank Transfer,63021.04,Curry-Duke,Space area above score economy happy spring in...
5248,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
5249,BKG00861,CUST1529,Turkmenistan,2024-05-11 - 2024-11-06,2024-07-12,3.0,Standard,PayPal,77632.50,"Lewis, Jones and Morgan",NaN

In [12]:
import pandas as pd
df = pd.read_excel('EVEN.xlsx', sheet_name='Sheet1')

average_cost_by_destination = df.groupby('Destination')['Total_Cost'].mean().reset_index()
print(average_cost_by_destination)

        Destination    Total_Cost
0           ALBANIA  73664.210000
1    ALEJANDROSHIRE  78168.730000
2             ARUBA   8573.290000
3         Adamsbury  22309.600000
4         Adamsfurt  15705.440000
..              ...           ...
853     Zacharyberg  41751.850000
854          Zambia  20658.930000
855     Zamoramouth  84404.310000
856        Zimbabwe  31329.406667
857   Zimmermantown  59139.600000

[858 rows x 2 columns]

In [13]:
payment_method_distribution = df['Payment_Method'].value_counts().reset_index()
payment_method_distribution.columns = ['Payment_Method', 'Count']
print(payment_method_distribution)

  Payment_Method  Count
0    Credit Card   1088
1     Debit Card   1058
2         PayPal   1033
3  Bank Transfer    982

In [14]:
unique_destinations = df['Destination'].nunique()
print(f"Number of unique destinations: {unique_destinations}")

Number of unique destinations: 858

In [20]:
# Check for missing values in important columns
missing_values = df[['Travel_Package', 'Payment_Method', 'Travel_Agent']].isnull().sum()
print(missing_values)

Travel_Package    1481
Payment_Method    1089
Travel_Agent       779
dtype: int64